<%- include('header') %>

  <h1 class="inner-titles">Login / Sign Up</h1>
  <form action="/users" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <input type="submit" value="Submit">
  </form>

  <%- include('footer') %>