<!DOCTYPE html>
<html>

<head>
  <title>Shift Management</title>
</head>

<body>
  <h1>Welcome!</h1>
  <h2>Please log in below to register your shift:</h2>
  <a href="/users/create">Log In</a>
</body>

</html>