<%- include('header') %>

  <div class="home-container">
    <div class="home-content">
      <h1>Welcome!</h1>
      <h2>Please log in below to register your shift:</h2>
      <a href="/users/create">Log In</a>
    </div>
    <div>

      <%- include('footer') %>