<!DOCTYPE html>
<html>

<head>
  <title>Register shift</title>
</head>

<body>
  <h1>Register shift</h1>
  <button onclick="window.history.back();">Go Back</button>
  <form action="/register-shift" method="POST">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="date" name="shiftDate">
    <input type="time" name="shiftStart" step="60">
    <input type="time" name="shiftEnd" step="60">
    <button type="submit">Submit</button>
  </form>
</body>

</html>