<%- include('header') %>

  <h1 class="inner-titles">Register Shift</h1>
  <button class="back-btn" onclick="window.history.back();">Go Back</button>
  <form action="/register-shift" method="POST">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="date" name="shiftDate">
    <input type="time" name="shiftStart" step="60">
    <input type="time" name="shiftEnd" step="60">
    <button type="submit">Submit</button>
  </form>

  <%- include('footer') %>