<!DOCTYPE html>
<html>

<head>
  <title>User Dashboard</title>
</head>

<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <a href="/register-shift?userId=<%= user.id %>">Register Shift</a>
  <a href="/view-shifts?userId=<%= user.id %>">View Shifts</a>
  <a href="/users/<%= user.id %>/edit">My Account</a>
  <button onclick="window.location.href='/'">Logout</button>
</body>

</html>