<!DOCTYPE html>
<html>

<head>
  <title>User dashboard</title>
</head>

<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <a>Register new shift</a>
  <h2>Here's a list of your registered shifts:</h2>
</body>

</html>